
h4{
    margin: 0px 5px !important;
}
.card {
    margin: 5px;
    cursor: pointer;
}

textarea { 
    width:100%;
    resize:both;  
    min-height:100px;
    min-width: 250px; 
    max-width: 500px;
}

.title{
    display: flex;
    flex-direction: row;
}

.description {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}