.App {
  text-align: center;
  height: auto;
  min-height: 1000px;
  background-image: url("https://static.tildacdn.com/tild3362-6431-4133-a566-386133333965/trello.svg");
}
h2{
  color: white;
  padding: 30px 0px;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: left
}
